<% provide(:title, 'Home') %>
<% content_for :head do %>
	<meta name="description" content:"Color Craze is a printer serving Frisco, Plano, McKinney and Allen, Texas. Marketing and other materials for businesses, non-profits and individuals.">
	<meta name="keywords" content:"digital printing, frisco, plano, mckinney, allen, fliers, brochures, postcards, business cards, booklets, directories, notecards, posters, letterhead, envelopes, programs, tickets, sunday school lessons, multi-part forms, coloring pages, planograms, manuals, bookmarks, product labels, bulletins, invitations, greeting cards, calendars">
<% end %>

<div class="row">
	<div class="large-5 push-7 columns" id="quoteBox">
		<div class="large-10 large-offset-1 columns">
			<%= render 'shared/lead_form' %>
		</div>
		<div class="large-1 columns">
		</div>
	</div>
	<div class="large-7 pull-5 columns" id="mainMarquee">
		<h1>PREMIUM DIGITAL PRINTING AT REASONABLE PRICES</h1>
		<ul>
			<li>Full-service capabilities: design, printing, package assembly, mailing</li>
			<li>Serving Frisco, Plano, McKinney and Allen</li>
			<li>Free delivery available upon request (and depending on order size)</li>
			<li>Specialists in small-run jobs (50-5,000 pieces)</li>
			<li>Speedy turn-around for most jobs</li>
			<li>State of the art equipment</li>
			<li>Family owned and operated</li>
		</ul>
	</div>
</div>
<div class="thinSpacerRow"></div>
<div class="row">
	<div class="large-12 columns" id="cigarBand"><h3>Quotes in less than 2 business days or less</h3></div>
</div>
<div class="thinSpacerRow"></div>
<div class="row">
	<div class="large-4 columns miniMarquee">
		<%= link_to printing_services_path do %>
			<h3>Business Cards</h3>
			<%= image_tag("bus_card2.jpg", alt: "business cards") %>
		<% end %>
	</div>
	<div class="large-4 columns miniMarquee">
		<%= link_to printing_services_path do %>
			<h3>Marketing Collateral</h3>
			<div class="productBoxImg"><%= image_tag("brochure.jpg", alt: "brochures, fliers, posters") %></div>
		<% end %>
	</div>
	<div class="large-4 columns miniMarquee">
		<%= link_to printing_services_path do %>
			<h3>Direct Mail</h3>
			<div class="productBoxImg"><%= image_tag("direct_mail.jpg", alt: "") %></div>
		<% end %>
	</div>
</div>
<div class="thinSpacerRowWhite"></div>

<% content_for :post_footer do %>
	<div class="row">
		<div class="large-10 large-offset-1 columns">
			<div class="postFooter">
				<h3>What we do</h3>
				<p>Color Craze prints a wide assortment of items for professional, religious, governmental, educational and individual customers. Items include fliers, brochures, postcards, business cards, booklets, directories, notecards, posters, letterhead, envelopes, programs, tickets, sunday school lessons, multi-part forms, coloring pages, planograms, manuals, bookmarks, product labels, bulletins, invitations, greeting cards and calendars.</p>

				<h3>How we do it</h3>
				<p>Our digital printing process uses state of the art Xerox equipment. The equipment, combined with our meticulous attention to detail in rendering your creative, ensures the maximum printed image quality. Our processes are very economical for smaller (less than 5,000 pieces) print jobs.</p>

				<h3>Who we do it for</h3>
				<p>Our customers include businesses in the real estate, retail, medical and legal fields. We also serve several large municipal and religious organizations. Many designers trust us as their preferred production partner. We also work with individuals for printing needs that exceed 50 pieces.</p>

				<h3>Where we do it</h3>
				<p>We serve the northern suburbs of Dallas, including Frisco, Plano, McKinney and Allen.</p>
			</div>
		</div>
	</div>
<% end %>