<li>
		<div class="large-1 columns">
			<%= quote.id %>
		</div>
		<div class="large-2 columns">
			<%= link_to quote.quote_name, quote %>
		</div>
		<% if current_user.admin? %>
			<div class="large-3 columns">
				<%= link_to "#{quote.user.name_first} #{quote.user.name_last}", quote.user %>
			</div>
		<% end %>
		<div class="large-4 columns">
			<%= quote.created_at.to_s(:ct_custom) %>
		</div>
		<div class="large-2 columns">
			<%= quote.status %>
		</div>
</li>