<%= provide(:title, "Request a quote") %>
<h1>Request a quote</h1>

<%= form_for @quote, :html => {:class => 'custom'} do |f| %>
	<div class="row">
		<div class="large-10 large-offset-1 columns">
				<%= render 'shared/error_messages', object: f.object %>
		</div>
		<div class="large-1 columns">
		</div>
	</div>

	<div class="row">
		<div class="large-6 large-offset-1 columns">
		<fieldset><legend>Job Details</legend>
			<div class="row">
				<div class="large-4 large-offset-1 columns">
					<%= f.label :quote_name, "Name / reference no." %>
				</div>
				<div class="large-6 columns">
					<%= f.text_field(:quote_name) %>
				</div>
				<div class="large-1 columns">
				</div>
			</div>
			<div class="row">
				<div class="large-4 large-offset-1 columns">
					<%= f.label :item, "Item to print" %>
				</div>
				<div class="large-6 columns">
					<%= f.select(:item, Quote::ITEM_TYPES) %>
				</div>
				<div class="large-1 columns">
				</div>
			</div>
			<div class="row">
				<div class="large-4 large-offset-1 columns">
					<%= f.label :paper, "Paper type" %>
				</div>
				<div class="large-6 columns">
					<%= f.select(:paper, Quote::PAPER_TYPES) %>
				</div>
				<div class="large-1 columns">
				</div>
			</div>
			<div class="row">
				<div class="large-4 large-offset-1 columns">
					<%= f.label :fold, "Folding (if any)" %>
				</div>
				<div class="large-6 columns">
					<%= f.select(:fold, Quote::FOLD_TYPES) %>
				</div>
				<div class="large-1 columns">
				</div>
			</div>
			<div class="row">
				<div class="large-4 large-offset-1 columns">
					<%= f.label :color1, "Color - front side" %>
				</div>
				<div class="large-6 columns">
					<%= f.select(:color1, Quote::COLOR_TYPES) %>
				</div>
				<div class="large-1 columns">
				</div>
			</div>
			<div class="row">
				<div class="large-4 large-offset-1 columns">
					<%= f.label :color2, "Color - back side" %>
				</div>
				<div class="large-6 columns">
					<%= f.select(:color2, Quote::COLOR_TYPES_BACK) %>
				</div>
				<div class="large-1 columns">
				</div>
			</div>
			<div class="row">
				<div class="large-4 large-offset-1 columns">
					<%= f.label :quantity, "Quantity" %>
				</div>
				<div class="large-6 columns">
					<%= f.select(:quantity, Quote::QUANTITY_TYPES) %>
				</div>
				<div class="large-1 columns">
				</div>
			</div>
			<div class="row">
				<div class="large-10 large-offset-1 columns">
					<%= f.label :message, "Any additional instructions, questions, etc." %>
					<%= f.text_area :message, id: "commentBox" %>
				</div>
				<div class="large-1 columns">
				</div>
			</div>
			<div class="row">
				<div class="large-4 large-centered columns">
					<%= f.submit "Submit your request", class: "button-non-CTA" %>
				</div>
			</div>
		</fieldset>
		</div>

		<div class="large-4 columns">
		</div>
		<div class="large-1 columns">
		</div>
	</div>
<% end %>