<%= provide(:title, 'Reset password') %>
<div class="row">
	<div class="large-6 large-offset-1 columns">
		<%= form_for @user, :url => password_reset_path(params[:id]), :html => {:class => 'custom'} do |f| %>
			<% if f.object.errors.any? %>
				<div class="error_explanation">
					<div class="alert alert-error">
						The form contains <%= pluralize(f.object.errors.count, "error") %>
						<%= render 'shared/error_messages', object: f.object %>
					</div>
				</div>
			<% end %>

			<fieldset>
				<legend>Enter your password and confirmation</legend>
				<div class="row">
					<div class="large-5 columns">
						<%= f.label :password, "Password"%>
						<%= f.password_field :password %>
					</div>
				</div>
				<div class="row">
					<div class="large-5 columns">
						<%= f.label :password_confirmation, "Password confirmation" %>
						<%= f.password_field :password_confirmation %>
					</div>
				</div>

				<div class="thinSpacerRowWhite"></div>

				<div class="row">
					<div class="large-4 large-offset-4 columns">
						<%= f.submit "Update password", class: "small button" %>
					</div>
				</div>
			</fieldset>
		<% end %>
	</div>
</div>