<div class="row">
	<div class="large-7 columns">
		<hgroup id="globalTitle">
			<h1><%= link_to "color craze", root_path %></h1>
			<h2>A full-service printer serving the Frisco, TX area</h2>
		</hgroup>
	</div>
	<div class="large-5 columns">
		<div id="addressBlock">
			5850 Town and Country Blvd. Ste 702<br>
			Frisco, TX 75034<br>
			972-377-5965
		</div>
	</div>
</div>

<div class="contain-to-grid">
	<nav class="top-bar">
		<ul class="title-area">
			<li class="name"></li>
			<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		</ul>

		<section class="top-bar-section">
			<ul class="left">
				<li class="divider"></li>
				<li class="active"><%= link_to "Services",	services_path %></li>
				<li class="divider"></li>
				<li class="active"><%= link_to "Customers",	customers_path %></li>
				<li class="divider"></li>
				<li class="active"><%= link_to "About Us",	about_path %></li>
				<li class="divider"></li>
				<li class="active"><%= link_to "Contact Us",	contact_path %></li>
				<li class="divider"></li>
				<% if signed_in? %>
					<li class="has-dropdown active"><a href="#">Admin</a>
						<ul class="dropdown">
							<li><%= link_to "Profile", current_user %></li>
							<li><%= link_to "Settings", edit_user_path(current_user) %></li>
							<li><% if current_user.admin? %>
									<%= link_to "Users", users_path %>
									<%= link_to "Quotes", quotes_path %>
									<%= link_to "Leads", leads_path %>
								<% end %>
							</li>
							<li class="divider"></li>
							<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
						</ul>
					</li>
				<li class="divider"></li>
				<% end %>
			</ul>
			<ul class="right">
				<li class="active has-form"><%= link_to "Request a Quote", rfq_path, :class => "success button" %></li>
			</ul>
		</section>
	</nav>
</div>
<div class="thinSpacerRow"></div>
